* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', system-ui, sans-serif;
  text-decoration: none;
  user-select: none;
  cursor: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  overflow: hidden;
}


.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 65%;
  z-index: -3;
}


.cursor {
  position: fixed;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow:
    0 0 10px #fff,
    0 0 25px rgba(255, 255, 255, .8),
    0 0 45px rgba(255, 255, 255, .5);
  z-index: 9999;
  transition: transform .07s linear;
}


.start {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .65);
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: .7s;
}

.start__title {
  font-size: 28px;
  font-weight: 700;
  text-shadow:
    0 0 10px #fff,
    0 0 25px rgba(255, 255, 255, .7);
  animation: startGlow 2.5s infinite;
}

.start--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes startGlow {
  0% { opacity: .7; }
  50% { opacity: 1; }
  100% { opacity: .7; }
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 340px;
  opacity: 0;
  transform: translateY(40px);
  transition: .4s;
}

.profile--visible {
  opacity: 1;
  transform: translateY(0);
}


.profile__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 0 15px rgba(255, 255, 255, .7),
    0 0 40px rgba(255, 255, 255, .5);
}

.profile__avatar-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}


.profile__name {
  font-size: 28px;
  font-weight: 900;
}

.profile__username {
  margin-top: -15px;
  font-size: 14px;
  opacity: .65;
}


.profile__info {
  text-align: center;
}

.profile__info-item {
  font-size: 15px;
  padding: 4px 0;
}


.profile__divider {
  width: 220px;
  height: 2px;
  margin: 12px 0;
  background: linear-gradient(
    90deg,
    transparent,
    #ffffff,
    transparent
  );
  filter: drop-shadow(0 0 6px #fff)
          drop-shadow(0 0 12px rgba(255,255,255,.7));
}


a {
  color: #4da6ff;
}

a:hover {
  color: #7fc4ff;
}


.profile__badges {
  display: flex;
  gap: 16px;
  font-size: 15px;
  opacity: .9;
}


.profile__social {
  display: flex;
  gap: 14px;
  font-size: 24px;
}

.profile__social-link {
  color: #fff;
  transition: .25s;
}

.profile__social-link:hover {
  text-shadow:
    0 0 10px #fff,
    0 0 30px rgba(255, 255, 255, 1);
  transform: scale(1.15);
}

